<div>
  <h3>It's <%= $game.current_player.name %>'s turn.</h3>
  <p>Player 1: <b><%= $game.player_1.name %></b>, HP: <b><%= $game.player_1.hp %></b></p>
  <p>Player 2: <b><%= $game.player_2.name %></b>, HP: <b><%= $game.player_2.hp %></b></p>
</div>
<div>
  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>